.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 10fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: slategrey;
    margin: 0;
    padding: 0;
    grid-gap: 10px;
  }

  .item {
    justify-content: center;
    background-color: red;
    border-style: solid;
    border-color: yellow;
    border-width:4px;
  }

  #item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
  }

  #item2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
  }

  #grid-item-title {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
  }

  #grid-item-picture {
    display:flex;
    grid-column-start: 1;
    grid-row-start: 2;
  }

  #grid-item-aboutMeParagraph {
    display: flex;
    grid-column-start: 2;
    grid-column-end:10;
    grid-row-start: 2;
  }

#itemA{
display: flex;
grid-row-start:5;
grid-column-start:1;
}

#item3 {
display: flex;
grid-row-start:3;
grid-column-start:4;
}    

img{
height:100%;
width:100%;
object-fit: cover;
}

#itemContactInfo{
  display: flex;
  grid-row-start: 3;
  grid-column-start: 1;
}