.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(5, auto);
    background-color: yellow;
    margin: 0;
    padding: 0;
    grid-gap: 10px;
  }

  .item {
    justify-content: center;
    background-color: red;
  }

  #item1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #item2 {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  #grid-item-title {
    grid-column-start: 5;
    grid-column-end: 6;  
  }

  #grid-item-picture {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 3;
    grid-row-end: 4;
  }
