html {
    background-color: slategray;
}
body {
    margin: 0px;
    padding: 0;
}

header {
    background-color: purple;
    color: aliceblue;
    text-align: center;
}

.headerH1 {
    margin: 0px;
}

footer {
    background-color: purple;
    color: aliceblue;
    text-align: center;
}

.links {
    color: aliceblue;
}

.aboutMeDiv {
    background-color: gray;
    /* padding: 10px; */
    width: 100%;
    height: auto;
}

.centerText {
    text-align: center;
}

.whiteText {
    color: aliceblue;
}

.blueText {
    color: blue;
}

#aboutMeTitle {
    text-align: center;
    background-color: rgb(87, 26, 145);
    color: aliceblue;
}

#contactInfo {
    background-color: rgb(81, 81, 81);
    padding: 5px;
    width: 15%;
}

#skillList {
    background-color: rgb(64, 63, 63);
    width: 50%;
}

#skillTitle {
    font-style: oblique;
}

#skillListText {
    font-style: oblique;
}

#imageDiv {
    width: 15%;
    height: 15%;
    background-color: black;
    border-style: ridge;
    border-color: gold;
    border-width: 2px;
    margin-left: 0px;
}

#ProjectsTitle {
    text-align: center;
    background-color: rgb(87, 26, 145);
    color: aliceblue;
}
