html {
    background-color: lightgrey;
}

header {
    background-color: slategray;
    color: aliceblue;
    text-align: center;
}

footer {
    background-color: darkgrey;
    color: aliceblue;
    text-align: center;
}

